{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/accounts/login.css' %}"
/>

<div class="container">
  <!--로그인 컨테이너-->
  <div class="login-container">
    <h2 class="login">로그인</h2>
    <form id="login-form" method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}

    <div class="input-list">
      <div class="input-id">
        <label for="user-id"></label>
        <div class="input-wrapper">
        <input type="text" id="user-id" name="username" class="login-id-input" placeholder="아이디를 입력해주세요" />
        </div>
      </div>
      <div class="input-pw">
        <label for="user-pw"></label>
        <div class="input-wrapper-2">
        <input
          type="password"
          id="user-pw"
          name="password"
          class="login-pw-input"
          placeholder="비밀번호를 입력해주세요"
        />
        </div>
      </div>
    </div>
    <div class="find">아이디 찾기 ㅣ 비밀번호 찾기</div>
  </div>
  <!--버튼 컨테이너-->
  <div class="button-container">
    <button type="submit" class="submit-login">로그인</button>
    <a href="{% url 'accounts:signup' %}" class="submit-signup">회원가입</a>
  </div>
</form>
</div>
<script src="{% static 'js/accounts/login.js' %}"></script>
{% endblock %}
